*.DS_Store

# Composer
composer.lock

# node and npm
node_modules/
package-lock.json

# PhpStorm
.idea/

# Laravel Directories
# This list will be edited as we progress through the project
app/
bootstrap/
config/
database/
public/
resources/
routes/
storage/
tests/
vendor/

# Laravel Files
# This list will be edited as we progress through the project
.editorconfig
.env.example
artisan
phpunit.xml
vite.config.js

# Created by Laravel Project Generator
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
